# MAP

In [2]:
# You have one list of numbers 
# You want to create another list with Square of these numbers 
# You have function for doing square of each number 


lst1 = [1,2,3,4,5,6]

# Result list should be this -> squareLst = [1,4,9,16,25,36]

In [3]:
def square(num):
    return num*num

In [5]:
square(6)

36

In [7]:
squareList = []
for i in lst1:
    temp = square(i)
    squareList.append(temp)

In [8]:
squareList

[1, 4, 9, 16, 25, 36]

In [12]:
squareList1 = list(map(square,lst1))

In [14]:
squareList1

[1, 4, 9, 16, 25, 36]

# Filter

In [17]:
# U have a list of Numbers 
# you want only a list of Even numbers to be collected in the another list

#without using for loop/ while how can we do it ?

lst = list(range(1,200))

In [20]:
def getEven(num):
    if(num%2 == 0):
        return True
    else:
        return False

In [22]:
getEven(6)

True

In [23]:
lstofEven = list(filter(getEven,lst))

In [26]:
#lstofEven

In [27]:
lstofEven1 = list(map(getEven,lst))

In [29]:
lstofEven

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

In [30]:
lstofEven1

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

# lambda Expressions

In [31]:
def cube(x):
    return x*x*x

In [32]:
cube(3)

27

In [34]:
cube1 = lambda x : x*x*x

In [35]:
cube1(4)

64

In [36]:
getEvenNumber = lambda num: num%2 == 0

In [38]:
getEvenNumber(4)

True

In [41]:
lst1

[1, 2, 3, 4, 5, 6]

In [42]:
lst2 = list(filter(lambda num: num%2 == 0,lst1))

In [43]:
lst2

[2, 4, 6]

In [44]:
lst3 = list(map(lambda num: num*num*num*num,lst1))

In [45]:
lst3

[1, 16, 81, 256, 625, 1296]

# Classes and Objects

In [46]:
lst =[]

type(lst)

list

In [47]:
# Write a Program which stores all the speaker values in a List 

# You have 100 Speakers, and you have store it how u will do it ?

In [69]:
class speakerDetails():
    def __init__(self, brand, srno, speakerWatts, price, color ):
        self.brand = brand
        self.srno = srno
        self.speakerWatts = speakerWatts
        self.price = price
        self.color = color
        
    def methodToPrint(self):
        print(self.brand, self.color, self.speakerWatts, 
              self.price, self.srno)

In [70]:
boat = speakerDetails("Boat", "Boat123","10W",'Rs. 2000', "Blue")

In [71]:
boat.methodToPrint()

Boat Blue 10W Rs. 2000 Boat123

In [53]:
boat.color

'Blue'

In [72]:
jbl = speakerDetails("jbl", "jbl123","5W",'Rs. 1100', "Black")

In [74]:
jbl.methodToPrint()

jbl Black 5W Rs. 1100 jbl123